{% extends 'base_01.html' %}

{% block conteudo %}
<div class="card mb-3">
    <div class="card-header">
       Tem certeza que quer remover o candidato abaixo?
    </div>
    <div class="card-body">
        <label>Sexo: </label>
        <h5 class="card-titulo">{{candidato.get_sexo_display}}</h5>
        <label>Idade: </label>
        <p class="card-text">{{candidato.idade}}</p>
    </div>
    <div class="card-body">
      <label>Nível: </label>
      {{candidato.get_nivel_display}}
    </div>
    <div class="card-body">
      <label>Formação: </label>
      {{candidato.formacao}}
    </div>
    <div class="card-body">
      <label>Pix: </label>
      {{candidato.pix}}
    </div>
    <div class="card-body">
      <label>Celular: </label>
      {{candidato.celular}}<hr>
      <form method="post">
          {% csrf_token %}
      <button class="btn btn-danger" type="submit">Remover</button>
      </form>
    </div>
</div>
{% endblock conteudo %}