{% extends 'core_01/base_t1000.html' %}

{% block conteudo %}
<div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
    <div class="footer-left mb-12 md:mb-0">
       <h1 class="mb-5 uppercase text-lg">Listagem de candidatos</h1>
    </div>
</div>
{% for candidato in candidatos %}
<div class="card mb-3">
    <div class="card-header">
       {{candidato.nome}}
    </div>
    <div class="card-body">
        <label>Sexo: </label>
        <h5 class="card-titulo">{{candidato.get_sexo_display}}</h5>
        <label>Idade: </label>
        <p class="card-text">{{candidato.idade}}</p>
    </div>
    <div class="card-body">
      <label>Nível: </label>
      {{candidato.get_nivel_display}}
    </div>
    <div class="card-body">
      <label>Formação: </label>
      {{candidato.formacao}}
    </div>
    <div class="card-body">
      <label>Pix: </label>
      {{candidato.pix}}
    </div>
    <div class="card-body">
      <label>Celular: </label>
      {{candidato.celular}}<hr>
      <a href="{% url 'editar_candidato' candidato.id %}">Alterar candidato</a>
      <a href="{% url 'remover_candidato' candidato.id %}">Remover candidato</a>

    </div>
</div>
{% endfor %}

{% endblock conteudo %}