:root{
  --cinza: #696969;
  --preto: #141414;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: var(--preto);
   font-family: 'Times New Roman', Times, serif;
   color: #DEB887;
}
header .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header .logo{
   margin-left: 10px;
   color: var(--cinza);
   font-family: 'Arial Black', Times;
   font-size: 60px;
}
header nav a{
   text-decoration: none;
   color: #ffff00;
   margin-right: 60px;
}
header nav a:hover{
   color: #fc0fc0;
}

.banner{
   background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('images/studioCity.png');
   font-size: 25px;
   height: 750px;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}
