{% extends 'core_01/base_t1000.html' %}
{% load meus_filtros %}

{% block title %}Trabalhe conosco{% endblock title %}

{% block conteudo %}

   <div class="max-w-6xl mx-auto  p-6">
     <h1 class="mb-5 text-3xl">Trabalhe conosco</h1>
       <div class="mb-6">
         <header class="px-6 py-10 lg:py-90 bg-purple-500">
            <div class="max-w-3xl mx-auto text-center">
                <p class="mb-2 text-3xl lg:text-5xl text-white">Olá, {{ request.user.get_username }}! Como vai?</p>
                <p class="mb-10 text-white">Preencha o formulário
         para se candidatar a uma vaga na nossa equipe, mas fique atento
         pois por enquanto temos vagas apenas para <strong>músicos</strong>, <strong>programadores</strong>
         ou <strong>seguranças</strong>, okay? Vamos lá!</p>
                <a href="{% url 'homepage' %}" class="inline-block px-8 py-4 rounded-xl bg-white text-purple-500 hover:bg-gray-200">Cancelar</a>
            </div>
         </header>
       </div>
   </div>

   <form method="post">
       {% csrf_token %}
     <div class="max-w-6xl mx-auto  p-6">
       <div class="form-group">
       {{ form_worker.nome.errors }}
       <label>Nome: </label>
       {{ form_worker.nome|addclass:'form-control' }}
       </div>
       <div class="form-group">
       {{ form_worker.email.errors }}
       <label>Email: </label>
       {{ form_worker.email|addclass:'form-control' }}
       </div>
       <div class="form-group">
       {{ form_worker.address.errors }}
       <label>Endereço: </label>
       {{ form_worker.address|addclass:'form-control' }}
       </div>
       <div class="form-group">
       {{ form_worker.data_nas.errors }}
       <label>Data de nascimento:</label>
       <label class="mb-1 text-xl py text-red-500 font-semibold">(Mês/Dia/Ano)</label>
       {{ form_worker.data_nas|addclass:'form-control' }}
       </div>
       <div class="form-group">
       {{ form_worker.sex.errors }}
       <label>Sexo: </label>
       {{ form_worker.sex|addclass:'form-control' }}
       </div>
       <div class="form-group">
       {{ form_worker.area.errors }}
       <label>Area de atuação: </label>
       {{ form_worker.area|addclass:'form-control' }}
       </div>
       <div class="form-group">
       {{ form_worker.level.errors }}
       <label>Nível: </label>
       {{ form_worker.level|addclass:'form-control' }}
       </div>
       <div class="form-group">
       {{ form_worker.phone.errors }}
       <label>Celular: </label>
       {{ form_worker.phone|addclass:'form-control' }}
       </div>
       <div class="form-group">
       <label>Redes sociais: </label>
       {{ form_worker.link_social|addclass:'form-control' }}
       </div>
       <div class="form-group">
        <input type="submit" class="inline-block mt-4 py-2 px-6 rounded-xl text-white bg-purple-500 hover:bg-purple-700">
       </div>
     </div>
   </form>
{% endblock conteudo %}